* { box-sizing: border-box; }

.brown{
  background: rgb(191, 140, 82);
  color: rgb(61, 40, 26);
  border: 10px solid rgb(61, 40, 26);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
